html {
  font-family: -apple-system, "BlinkMacSystemFont", "droid-sans", Helvetica Neue, Helvetica, Arial, sans-serif; /* 1 */
}

body {
  background-color: #eee;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
}

a:visited,
a:active,
a {
  color: #333;
}

a:hover {
  color: #111;
  background-color: #eee;
}
