body {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 2em;
  padding-bottom: 2em;
}

a:visited,
a:active,
a {
  color: #333;
}

a:hover {
  color: #111;
  background-color: #eee;
}
