---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Home
 */
.home {
  margin-top: -30px;
}

.home-meta {
  font-size: 14px;
  color: #828282;
  margin-top: 60px;
  margin-bottom: 0px;
}

/**
 * Links
 */
a {
  &,
  &:visited {
    color: $text-color;
    text-decoration: none;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 40px;
}

.post-title {
  text-align: center;
}

.post-content {
  a {
    text-decoration: underline;
  }
  h4 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 40px;
  }
}

/**
 * Site header
 */
.site-header {
  border: none;
}

.site-nav {
  .page-link {
    font-weight: 200;
    margin-left: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  font-weight: 200;
  border: none;
}

.footer-col-wrapper {
  @include relative-font-size(0.83);
}

.footer-col {
  float: none;
  text-align: center;
}
