---
layout: default
---
<div class="home">
  {{ content }}

  {% for post in site.posts %}
    {% assign currentdate = post.date | date: site.minima.date_format %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <p class="home-meta">Posts from {{ currentdate }}</p>
      <ul class=post-list>
      {% assign date = currentdate %}
    {% endif %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}

  {% include links.html %}
</div>
